@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl("banner.png") right top;
    .header-top-bar {
        padding: 35px 0;

        .header-button {
            padding: 27.5px 41px;
        }
    }

    .banner {
        padding: 45px 0 227px;
        position: relative;

        .hero-heading {
            color: $black;
            letter-spacing: -0.02em;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 0.85;

            span {
                color: $primary;
            }
        }

        .sub-heading {
            padding: 11px 0;
            text-transform: uppercase;
            font-weight: 700;
            color: $dark;
            border-top: 2px solid $dark;
            border-bottom: 2px solid $dark;
            line-height: 1.28;
            margin-top: 29px;

            span {
                text-decoration: underline;
            }
        }

        .banner-underlay {
            background: $primary;
            text-transform: uppercase;
            padding: 34px 0;
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: -1;
        }
    }
}

section.form {
    .form-top-bar {
        letter-spacing: 0.015em;
        font-weight: 700;
        color: $white;
        text-align: center;
        background: $dark-grey;
        text-transform: uppercase;
        padding: 8.5px 16px;
        position: relative;

        &:after {
            content: " ";
            position: absolute;
            left: 48%;
            bottom: -31px;
            border-top: 31px solid $dark-grey;
            border-right: 27.5px solid transparent;
            border-left: 27.5px solid transparent;
            border-bottom: none;
        }
    }

    .form-content {
        padding: 58px 0 93px;

        @include media-breakpoint-up(xl) {
            .booking-header {
                border-right: 2.05px solid #e1e1e1;
            }
        }

        input,select {
            font-weight: 600;
            font-family: $font-helvetica;
        }
        
        input,
        select,
        button {
            font-style: italic;
            padding: 0 40.05px !important;
            height: 50px;
            font-size: 1.09375rem; // 17.5px

            @include media-breakpoint-up(lg) {
                height: 69.56px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }

            &::placeholder {
                color: #494949;
            }
        }

        select {
            color: #494949;

            option {
                font-weight: 600;
            }
        }
    }
}

footer {
    background: $black;
    color: $white;
    font-weight: 600;
    padding: 21px 0;
    font-size: 0.875rem;

    @include media-breakpoint-down(sm) {
        font-size: 0.75rem;
    }
}
