@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    @include media-breakpoint-up(xl) {
        background: imgUrl("banner.png") right top;
    }

    @include media-breakpoint-up(xl) {
        background-position: 150% top;
    }

    @include media-breakpoint-up(xxl) {
        background-position: right top;
    }

    .header-top-bar {
        padding: 35px 0;

        .header-button {
            padding: 27.5px 41px;

            @include media-breakpoint-down(sm) {
                padding: 16.5px;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 16px 0;
        }
    }

    .banner {
        position: relative;
        padding: 13px 0 26px;
        
        @include media-breakpoint-up(md) {
            padding: 45px 0 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 45px 0 227px;
        }

        @include media-breakpoint-up(xxl) {
            padding: 45px 0 227px;
        }

        .hero-heading {
            color: $black;
            letter-spacing: -0.02em;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 0.85;

            span {
                color: $primary;
            }
        }

        .sub-heading {
            padding: 11px 0;
            text-transform: uppercase;
            font-weight: 700;
            color: $dark;
            border-top: 2px solid $dark;
            border-bottom: 2px solid $dark;
            line-height: 1.28;
            margin-top: 29px;

            span {
                text-decoration: underline;
            }

            @include media-breakpoint-down(sm) {
                border-top: 1px solid $dark;
                border-bottom: 1px solid $dark;
            }
        }

        .banner-underlay {
            background: $primary;
            text-transform: uppercase;
            padding: 34px 0;
            width: 100%;
            
            @include media-breakpoint-up(xl) {
                position: absolute;
                bottom: 0;
                z-index: -1;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
}

section.form {
    .form-top-bar {
        letter-spacing: 0.015em;
        font-weight: 700;
        color: $white;
        text-align: center;
        background: $dark-grey;
        text-transform: uppercase;
        padding: 8.5px 16px;
        position: relative;

        &:after {
            content: " ";
            position: absolute;
            left: 48%;
            bottom: -31px;
            border-top: 31px solid $dark-grey;
            border-right: 27.5px solid transparent;
            border-left: 27.5px solid transparent;
            border-bottom: none;
        }

        @include media-breakpoint-down(sm) {
            background: $primary;
            color: $black;
            padding: 23px 16px;

            &:after {
                content: " ";
                position: absolute;
                left: 44%;
                bottom: -31px;
                border-top: 31px solid $primary;
                border-right: 27.5px solid transparent;
                border-left: 27.5px solid transparent;
                border-bottom: none;
            }
        }
    }

    .form-content {
        padding: 45px 0 34px;

        @include media-breakpoint-up(md) {
            padding: 58px 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 58px 0 93px;
        }

        @include media-breakpoint-up(xl) {
            .booking-header {
                border-right: 2.05px solid #e1e1e1;
            }
        }

        input,
        select {
            font-weight: 600;
            font-family: $font-helvetica;
        }

        input,
        select,
        button {
            font-style: italic;
            padding: 0 40.05px !important;
            height: 50px;
            font-size: 1.09375rem; // 17.5px

            @include media-breakpoint-up(lg) {
                height: 69.56px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
                padding: 6px 24px !important;
            }

            &::placeholder {
                color: #494949;
            }
        }

        select {
            color: #494949;

            option {
                font-weight: 600;
            }
        }
    }
}

section.quick-contact {
    background: $dark-grey imgUrl("quick-contact-sm.png");
    padding: 43px 0 50px;
    background-size: cover;

    @include media-breakpoint-up(md) {
        background: $dark-grey imgUrl("quick-contact.png");
        background-size: cover;
        padding: 80px 0;
    }
    
    @include media-breakpoint-up(lg) {
        background-size: contain;
    }

    .quick-contact-button {
        padding: 27.5px 41px;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
            padding: 16.5px 18px;

            &.h9 {
                font-size: 0.8256rem;
            }
        }
    }
}

section.services {
    padding: 6px 0 37px;

    @include media-breakpoint-up(md) {
        padding: 38px 0 92px;
    }

    .service-card {
        .service-caption {
            background: #f6f6f6;
            border-bottom: 4px solid $primary;
            letter-spacing: -0.02em;
            font-size: 1.875rem; // 30px
            color: $dark;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
            padding: 24px 67px;
            display: flex;
            align-items: center;
            min-height: 141px;

            @include media-breakpoint-down(lg) {
                padding: 24px 16px;
            font-size: 1.38rem;
            }

            @include media-breakpoint-down(sm) {
                min-height: 104px;
                padding: 16px 16px 16px 50px;
            }

            .primary-block {
                width: 65.34px;
                height: 52px;
                background-color: $primary;
                margin-right: 33px;
            }
        }
    }

    .see-more-services {
        display: none;
    }
}

section.color-range {
    background-color: $dark-grey;
    padding-top: 29px;

    .color-range-button {
        padding: 27.5px 41px;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
            padding: 16.5px 18px;

            &.h9 {
                font-size: 0.8256rem;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .color-range-slider .color-range-slider-content img {
            height: 555px;
            object-fit: cover;
        }
    }

    .color-range-nav-button {
        cursor: pointer;
        background: #252525;
        padding: 25px 32px;
        color: $white;
        text-transform: uppercase;
        letter-spacing: -0.02em;
        line-height: 1;
        font-size: 1.875rem; // 30px
        font-weight: 700;
        border-bottom: 4px solid $primary;
        opacity: 0.4;
        transition: 0.2s all ease-in-out;

        @include media-breakpoint-down(md) {
            font-size: 1.5rem;
        }

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }

        .primary-block {
            height: 52px;
            width: 52px;
            background-color: $primary;

            @include media-breakpoint-down(sm) {
                width: 52px;
                height: 37px;
            }
        }

        &.active {
            opacity: 1;
        }

        @include media-breakpoint-down(sm) {
            padding: 17px 32px;
        }
    }
}

footer {
    background: $black;
    color: $white;
    font-weight: 600;
    padding: 21px 0;
    font-size: 0.875rem;

    @include media-breakpoint-down(sm) {
        font-size: 0.75rem;
    }
}
